
@font-face {
    font-family: 'Alata';
    src: url(../fonts/Alata-Regular.ttf);
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(../fonts/JosefinSans-ExtraLight.ttf);
}

$body-font: 'Alata', sans-serif;
$title-font: 'Josefin Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '_hero';
@import '_leader';
@import '_creations';
@import '_footer';